@using DongThucVatQuangTri.Applications.Contacts.Dtos;
@using DongThucVatQuangTri.Applications.Enums;
@using DongThucVatQuangTri.Applications.Tours.Dtos;
@using System.Security.Claims;
@using static DongThucVatQuangTri.Applications.Common.HelperMethod;
@model UpdateContactRequest
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Phản hồi liên hệ";
    //Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}
@section Scripts{
    <script src="/admin/assets/ckeditor/ckeditor.js"></script>
    <script>
        CKEDITOR.replace('editor');
    </script>
    
}
<span data-bs-toggle="modal" data-bs-target="#exampleModal@{
    @Model.Id
}">
    <i class="fa-regular fa-pen-to-square" style="color: #194de6;"></i>
</span>

<!-- Modal -->
<div class="modal fade" id="exampleModal@{
    @Model.Id
}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form asp-action="Edit" class="row" enctype="multipart/form-data" data-ajax-method="POST" data-ajax="true" data-ajax-update="UpdateRoleForm@{
            @Model.Id
}" data-ajax-complete="OnComplete">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Cập nhật phản hồi</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex flex-wrap justify-content-center" id="UpdateRoleForm@{
                        @Model.Id
}">
                    <input type="hidden" asp-for="Id" class="form-control" />
                    <div class="form-group row w-100">
                        <label asp-for="status" class="control-label">Trạng thái: </label>

                        <select asp-for="status" class="form-control" id="dropdown">
                            @foreach (var status1 in Enum.GetValues(typeof(statusContact)))
                            {
                                <option value="@status1.ToString()">@EnumExtensions.GetEnumMemberValue((statusContact)status1)</option>
                            }
                        </select>
                    </div>
                    <div class="form-group row w-100">
                        <label asp-for="Note" class="control-label">Ghi chú</label>
                        <textarea asp-for="Note" style="height:100px" class="form-control"></textarea>
                        <span asp-validation-for="Note" class="text-danger"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                    <button type="submit" class="btn btn-primary">Sửa thông tin</button>
                </div>
            </div>
        </form>
    </div>
</div>

