@using DongThucVatQuangTri.Applications.Common;
@using DongThucVatQuangTri.Applications.Contacts.Dtos;
@using DongThucVatQuangTri.Applications.Enums;
@using static DongThucVatQuangTri.Applications.Common.HelperMethod;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model PageResult<ContactViewModels>
@{
    ViewData["Title"] = "Danh sách phản hồi";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}
@section Scripts{
    <script>
        setTimeout(function () {
            $('#msgAlert').fadeOut("slow");
        }, 2000);
    </script>
    <script>
        function changeStatus(id, status) {
            $.ajax({
                url: '@Url.Action("ChangeStatus", "Contact")',
                type: 'POST',
                data: { id: id, status: status },
                success: function (result) {

                },
                error: function (error) {
                    alert("Đã xảy ra lỗi: " + error);
                }
            });
        }
    </script>
}
<div class="container-fluid px-4">
    <h1 class="mt-4"> @ViewData["Title"]</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Trang chủ</a></li>
        <li class="breadcrumb-item active">@ViewData["Title"]</li>
    </ol>

    <div class="card mb-12">
        <div class="card-header">
            <div class="row">
                <div class="col-md-6 col-xs-12 mt-1">
                    @*                     <a asp-action="Create" class="btn btn-success"><i class="fa-solid fa-plus" style="color: #ffffff;"></i>  Thêm thông tin du lịch</a>
                    *@
                </div>
                <div class="col-md-6 col-xs-12 mt-1">
                    <div class="row">
                        <div class="col-md-10">
                            <form asp-action="Index" method="post">
                                <div class="row">
                                    <div class="col-md-9">
                                        <input type="text" value="@ViewBag.Keyword" name="keyword" class="form-control mt-1" />
                                    </div>
                                    <div class="col-md-3">
                                        <button class="btn btn-primary mt-1" type="submit">Tìm kiếm</button>
                                    </div>
                                </div>

                            </form>
                        </div>
                        <div class="col-md-2">
                            <a class="btn btn-secondary mt-1" href="@Url.Action("Index","Contact",new {keyword = ""})">Reset</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body align-middle">
            @if (ViewBag.ErrorMsg != null)
            {
                <div id="msgAlert" class="alert alert-danger" role="alert">
                    @ViewBag.ErrorMsg
                </div>
            }
            @if (ViewBag.SuscessMsg != null)
            {
                <div id="msgAlert" class="alert alert-success" role="alert">
                    @ViewBag.SuscessMsg
                </div>
            }
            @{
                int i = ((Model.PageIndex - 1) * Model.PageSize) + 1;
            }
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>
                            STT
                        </th>
                        <th>
                            Người gửi
                        </th>
                        <th>
                            Liên hệ
                        </th>
                        <th>
                            Ngày nhận
                        </th>
                        <th>
                            Đơn vị
                        </th>
                        <th>
                            Trạng thái
                        </th>
                        <th>
                            Ghi chú
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model.Items)
                    {
                        <tr>
                            <th class="align-middle" scope="row">
                                @i
                                @{
                                    i++;
                                }
                            </th>
                            <td class="align-middle" style="width:15%">
                                <a class="text-decoration-none" asp-action="Details" asp-route-Id="@item.Id">
                                    @Html.DisplayFor(modelItem => item.Name)
                                </a>
                            </td>
                            <td class="align-middle" style="width:25%">
                                SĐT:  @Html.DisplayFor(modelItem => item.NumberPhone) <br>
                                Email: @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td style="width:17%">
                                @Html.DisplayFor(modelItem => item.CreateAt)
                            </td>
                            <td class="align-middle">
                                @if (item.typeNationPark == "NationParkNamGiang")
                                {
                                    <span>Nam Giang</span>
                                }
                                else if (item.typeNationPark == "NationParkMuongTe")
                                {
                                    <span>Mường Tè</span>
                                }
                                else
                                {
                                    <span></span>
                                }
                            </td>
                            <td class="align-middle">
                                @foreach (var status1 in Enum.GetValues(typeof(statusContact)))
                                {
                                    if (item.status == status1.ToString())
                                    {
                                        <span>@EnumExtensions.GetEnumMemberValue((statusContact)status1)</span>
                                        break;
                                    }
                                }
                            </td>
                            <td class="align-middle" style="width:15%">
                                @Html.DisplayFor(modelItem => item.Note)
                            </td>
                            <td class="align-middle">
                                <a asp-action="Edit" asp-route-id="@item.Id" class="text-decoration-none">
                                    <i class="fa-regular fa-pen-to-square" style="color: #194de6;"></i>
                                </a>
                                <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal@{
                                    @item.Id
                                }" style="border:none;background-color:transparent;">
                                    <i class="fa-solid fa-trash" style="color: #f20707;"></i>
                                </button>
                                <!-- Modal -->
                                <div class="modal fade" id="exampleModal@{
                                        @item.Id
}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        @using (Html.BeginForm("Delete", "Contact", FormMethod.Post))
                                        {
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Xóa phản hồi</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    Bạn có muốn xóa phản hồi @item.Name không ?
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" style="padding:5px 20px;" data-bs-dismiss="modal">Đóng</button>
                                                    <input type="hidden" name="Id" value="@item.Id">
                                                    <button type="submit" class="btn btn-danger" style="padding:5px 20px;">
                                                        Xóa phản hồi
                                                    </button>
                                                </div>
                                            </div>
                                        }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            @await Component.InvokeAsync("Pager", Model)
        </div>

    </div>
</div>
