@using DongThucVatQuangTri.Applications.Tours.Dtos;
@model TourViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Thông tin du lịch";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}
<style>
    th:first-child {
        width: 30%;
    }
</style>
<div class="container-fluid px-4">
    <h1 class="mt-4">@ViewData["Title"]</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Trang chủ</a></li>
        <li class="breadcrumb-item active">@ViewData["Title"] </li>
    </ol>
    <div style="margin: 20px 0;">
        <a class="btn btn-success" asp-action="Index"><i class="fa-solid fa-list" style="color: #ffffff;"></i> Danh sách du lịch</a>
    </div>
    <div class="card mb-4">
        <div class="card-body">
            <div class="row mb-3 d-flex justify-content-center">
                <div class="col-md-4">
                    <div>Hình ảnh:</div>
                    @if (!String.IsNullOrEmpty(Model.Image))
                    {
                        <img style="height: 250px;width:250px" src="/user-content/@Model.Image" alt="..." class="img-thumbnail">
                    }
                    else
                    {
                        <img style="height: 250px;width:250px" src="/admin/assets/img/no-image-available-icon-flat-vector-25898826.jpg" alt="..." class="img-thumbnail">
                    }
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <dl class="row">
                        <table class="table table-striped">
                            <tbody>
                               
                                <tr>
                                    <th>Tiêu đề: </th>
                                    <td> @Html.DisplayFor(model => model.Name)</td>
                                </tr>
                                <tr>
                                    <th>Alias:</th>
                                    <td>@Html.DisplayFor(model => model.Alias)</td>
                                </tr>
                                <tr>
                                    <th>Giới thiệu:</th>
                                    <td>
                                        @Html.DisplayFor(model => model.ShortDescription)
                                    </td>
                                </tr>
                                <tr>
                                    <th>Tổng số View:</th>
                                    <td>@Html.DisplayFor(model => model.TotalView)</td>
                                </tr>
                                <tr>
                                    <th>Thứ tự sắp xếp:</th>
                                    <td>@Html.DisplayFor(model => model.SortOrder)</td>
                                </tr>
                                <tr>
                                    <th> Trạng thái:</th>

                                    <td>
                                        @{
                                            var status = Convert.ToInt32(Model.Status) == 1 ? "Bật" : "Tắt";
                                        }
                                        @status
                                    </td>
                                </tr>
                               
                                <tr>
                                    <th> Tác giả:</th>
                                    <td>@Html.DisplayFor(model => model.Author)</td>
                                </tr>
                                <tr>
                                    <th> Ngày tạo:</th>
                                    <td>@Html.DisplayFor(model => model.CreatedAt)</td>
                                </tr>
                                <tr>
                                    <th> Ngày cập nhật:</th>
                                    <td>@Html.DisplayFor(model => model.UpdatedAt)</td>
                                </tr>
                                <tr>
                                    <th> Mô tả:</th>
                                    <td>@Html.Raw(Model.Description)</td>
                                </tr>
                            </tbody>
                        </table>
                    </dl>
                    <div>
                        <a class="btn btn-success" asp-action="Edit" asp-route-id="@Model.Id">
                            <i class="fa-solid fa-pen-to-square" style="color: #ffffff;"></i>
                            Chỉnh sửa
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

