@using System.Security.Claims;
@using DongThucVatQuangTri.Applications.AnimalsAndPlant.FamilyManage.Dtos;
@model UpdateFamilyRequest
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Sửa thông tin họ";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}
@section Scripts{
    <script>
        setTimeout(function () {
            $('#msgAlert').fadeOut("slow");
        }, 2000);
    </script>
}
@{
    var idLoai = -1;
    if (string.Equals(ViewBag.Loai, "Động Vật", StringComparison.CurrentCultureIgnoreCase))
    {
        idLoai = 1;
    }
    if (string.Equals(ViewBag.Loai, "Thực Vật", StringComparison.CurrentCultureIgnoreCase))
    {
        idLoai = 0;
    }
}
<div class="container-fluid px-4">
    <h1 class="mt-4">Sửa họ @ViewBag.Loai</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Trang chủ</a></li>
        <li class="breadcrumb-item active">Sửa họ @ViewBag.Loai </li>
    </ol>
    <div style="margin: 20px 0;">
        <a class="btn btn-success" asp-action="Index" asp-route-loai="@idLoai"><i class="fa-solid fa-list" style="color: #ffffff;"></i> Danh sách bộ @ViewBag.Loai</a>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-md-6">
            <form asp-action="Edit" asp-route-loai="@idLoai" class="row">
                @if (ViewBag.ErrorMsg != null)
                {
                    <div id="msgAlert" class="alert alert-danger" role="alert">
                        @ViewBag.ErrorMsg
                    </div>
                }
                <div class="form-group">
                    <input type="hidden" asp-for="Id" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="IdDtvBo" class="control-label"> Bộ:</label>
                    <select asp-for="IdDtvBo" name="IdDtvBo" asp-items="@ViewBag.Categories" class="form-control select2">
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label">Tên tiếng Việt</label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NameLatinh" class="control-label">Tên Latinh:</label>
                    <input asp-for="NameLatinh" class="form-control" />
                    <span asp-validation-for="NameLatinh" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Status" class="control-label">Trạng thái: </label>
                    <select asp-for="Status" class="form-control" id="dropdown" name="Status">
                        <option value="1">Bật</option>
                        <option value="0">Tắt</option>
                    </select>
                </div>
                <div class="form-group mt-2">
                    <input type="hidden" asp-for="UpdatedBy" value="@User.FindFirstValue(ClaimTypes.NameIdentifier)" />
                    <button type="submit" class="btn btn-primary"><i class="fa-regular fa-floppy-disk" style="color: #ffffff;"></i> Lưu</button>
                    <a asp-action="Index" class="btn btn-secondary" asp-route-loai="@idLoai"><i class="fa-solid fa-xmark" style="color: #ffffff;"></i> Hủy</a>

                </div>
            </form>
        </div>
    </div>
</div>

