@using System.Security.Claims;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model DongThucVatQuangTri.Applications.UserManage.Dtos.AdminUpdatePasswordRequest
@{
    ViewData["Title"] = "Đổi mật khẩu";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}
@section Scripts {
    <script>
        setTimeout(function () {
            $('#msgAlert').fadeOut("slow");
        }, 5000);
    </script>
    <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script>

    <script>
        feather.replace({
            'aria-hidden': 'true'
        });
        function Showbutton(event) {
            console.log(event)
            let parent = $(event.target).closest(".input-group");
            if (!event.target.value || event.target.value?.trim() == "") {
                $(parent).find(".togglePassword").css("display", "none");
                $(event.target).attr("style", "border-right: 1px solid #ced4da !important;border-top-right-radius: 0.25rem;border-bottom-right-radius: 0.25rem; width:100% !important; ");

            } else {
                $(parent).find(".togglePassword").css("display", "flex");
                $(event.target).attr("style", "");
            }
        }
        $(".togglePassword").click(function (e) {
            e.preventDefault();
            let parent = $(this).closest(".input-group");
            var type = $(this).parent().parent().find("input").attr("type");
            if (type == "password") {
                $(parent).find("svg.feather.feather-eye").replaceWith(feather.icons["eye-off"].toSvg());
                $(parent).find("input").attr("type", "text");
            } else if (type == "text") {
                $(parent).find("svg.feather.feather-eye-off").replaceWith(feather.icons["eye"].toSvg());
                $(parent).find("input").attr("type", "password");
            }
        });
    </script>
}
<div class="container-fluid px-4">
    <div class="col-lg-12">
        <nav style="--bs-breadcrumb-divider: '/';" aria-label="breadcrumb">
            <h4 class="mt-4">@ViewData["Title"]</h4>
            <ol class="breadcrumb mb-4 bg-white shadow">
                <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Trang chủ</a></li>
                <li class="breadcrumb-item"><a asp-action="ChangePasswordList" asp-controller="User">Danh sách đổi mật khẩu</a></li>
                <li class="breadcrumb-item active">@ViewData["Title"] </li>
            </ol>
        </nav>
    </div>
    <div class="row px-2">
        <div class="card shadow col-md-6">
            <div class="card-body">
                <div class="row">
                    <form asp-action="AdminChangePassword">
                        @if (ViewBag.ErrorMsg != null)
                        {
                            <div id="msgAlert" class="alert alert-danger" role="alert">
                                @ViewBag.ErrorMsg
                            </div>
                        }
                        @if (ViewBag.SuscessMsg != null)
                        {
                            <div id="msgAlert" class="alert alert-success" role="alert">
                                @ViewBag.SuscessMsg
                            </div>
                        }
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <input asp-for="Id" type="hidden" class="form-control" />
                        <div class="form-group">
                            <label asp-for="NewPassword" class="control-label">Nhập mật khẩu mới:</label>
                            <div class="input-group">
                                <input onkeyup="Showbutton(event)" class="form-control password border-end-0" asp-for="NewPassword" class="block mt-1 w-full" type="password" required />
                                <span class="bg-white input-group-text togglePassword">
                                    <i data-feather="eye" style="cursor: pointer"></i>
                                </span>
                                <span asp-validation-for="NewPassword" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="ConfirmPassword" class="control-label">Nhập lại mật khẩu mới:</label>
                            <div class="input-group">
                                <input onkeyup="Showbutton(event)" class="form-control password border-end-0" asp-for="ConfirmPassword" class="block mt-1 w-full" type="password" required />
                                <span class="bg-white input-group-text togglePassword">
                                    <i data-feather="eye" style="cursor: pointer"></i>
                                </span>
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>

                        </div>
                        <div class="form-group" style="margin: 20px 0;">
                            <button type="submit" class="btn btn-primary"><i class="fa-solid fa-key" style="color: #ffffff;"></i> Đổi mật khẩu</button>
                            <a asp-action="ChangeRandomPassword" asp-route-id="@Model.Id" class="btn btn-success"><i class="fa-solid fa-key" style="color: #ffffff;"></i> Mật khẩu ngẫu nhiên</a>
                            <button type="reset" class="btn btn-secondary"><i class="fa-solid fa-eraser" style="color: #ffffff;"></i> Reset</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-body">
                    @if(!string.IsNullOrEmpty(Model.NewPassword)){
                        <div>Mật khẩu ngẫu nhiên là:</div>
                        <h3 class="text-center bg-light">@Model.NewPassword</h3>
                    }
                    <i>
                        Mật khẩu là một chuỗi các ký tự quy định như sau:
                        <br />
                        - Không chứa dấu cách trống.
                        <br />
                        - Có độ dài ít nhất là 8 ký tự.
                        <br />
                        - Có ít nhất một ký tự chữ cái viết thường (a-z).
                        <br />
                        - Có ít nhất một ký tự chữ cái viết hoa (A-Z).
                        <br />
                        - Có ít nhất một ký tự đặc biệt (@@#$%^&+=).
                        <br />
                        - Có ít nhất một ký tự số (0-9).
                    </i>
                </div>
            </div>
        </div>
    </div>
</div>


