@using DongThucVatQuangTri.Applications.Common;
@using DongThucVatQuangTri.Applications.UserManage.Dtos;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model PageResult<UserViewModels>
@{
    ViewData["Title"] = "Danh sách đổi mật khẩu";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}
@section Scripts{
    <script>
        setTimeout(function () {
            $('#msgAlert').fadeOut("slow");
        }, 2000);
    </script>
}
<div class="container-fluid px-4">
    <h1 class="mt-4">Danh sách đổi mật khẩu</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Trang chủ</a></li>
        <li class="breadcrumb-item active">Danh sách đổi mật khẩu </li>
    </ol>

    <div class="card mb-12">
        <div class="card-header">
            <div class="row">
                <div class="col-md-6 col-xs-12 mt-1">
                   

                </div>
                <div class="col-md-6 col-xs-12 mt-1">
                    <div class="row">
                        <div class="col-md-10">
                            <form asp-action="Index" asp-controller="User" method="post">
                                <div class="row">
                                    <div class="col-md-9">
                                        <input type="text" value="@ViewBag.Keyword" name="keyword" class="form-control mt-1" />
                                    </div>
                                    <div class="col-md-3">
                                        <button class="btn btn-primary mt-1" type="submit">Tìm kiếm</button>
                                    </div>
                                </div>

                            </form>
                        </div>
                        <div class="col-md-2">
                            <a class="btn btn-secondary mt-1" href="@Url.Action("Index","User",new {keyword = ""})">Reset</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body align-middle">

            @if (ViewBag.SuscessMsg != null)
            {
                <div id="msgAlert" class="alert alert-success" role="alert">
                    @ViewBag.SuscessMsg
                </div>
            }
            @{
                int i = ((Model.PageIndex - 1) * Model.PageSize) + 1;
            }
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">
                            STT
                        </th>
                        <th scope="col">
                            Họ tên
                        </th>
                        <th>
                            Email
                        </th>
                        <th scope="col">
                            SĐT
                        </th>
                        <th scope="col">
                            Ngày tạo
                        </th>
                        <th scope="col">
                            Last Login
                        </th>
                        <th scope="col">
                            Trạng thái
                        </th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Items)
                    {
                        <tr>
                            <th scope="row">
                                @i
                                @{
                                    i++;
                                }
                            </th>
                            <td>
                                <a class="text-decoration-none" asp-action="Details" asp-controller="User" asp-route-Id="@item.Id">
                                    @Html.DisplayFor(modelItem => item.FirstName)
                                </a>
                            </td>
                            <td>
                                <a class="text-decoration-none" asp-action="Details" asp-controller="User" asp-route-Id="@item.Id">
                                    @Html.DisplayFor(modelItem => item.Email)
                                </a>
                            </td>
                            <td>
                                <a class="text-decoration-none" asp-action="Details" asp-controller="User" asp-route-Id="@item.Id">
                                    @Html.DisplayFor(modelItem => item.Phone)
                                </a>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CreatedAt)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LastSigninedTime)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Status)
                            </td>
                            <td>
                                <a asp-action="AdminChangePassword" asp-route-id="@item.Id" class="text-decoration-none">
                                    <i class="fa-regular fa-pen-to-square" style="color: #194de6;"></i>
                                </a>
                            @*@Html.ActionLink("Sửa", "Edit", new { id = item.Id },new {@class= "btn btn-success"})
                        @Html.ActionLink("Xóa", "Delete", new { id = item.Id },new {@class= "btn btn-danger"})*@
                            @* @Html.ActionLink("Gán quyền", "RoleAssign", new { id = item.Id },new {@class= "btn btn-warning"}) *@

                        </tr>

                    }
                </tbody>
            </table>
            @await Component.InvokeAsync("Pager", Model)
        </div>

    </div>
</div>

