@using System.Security.Claims;
@using DongThucVatQuangTri.Applications.Enums
@model DongThucVatQuangTri.Applications.UserManage.Dtos.UserViewModels
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Thông tin tài khoản";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}

<div class="container-fluid px-4">
    <div class="col-lg-12">
        <nav style="--bs-breadcrumb-divider: '/';" aria-label="breadcrumb">
            <h4 class="mt-4">@ViewData["Title"] @Model.Email</h4>
            <ol class="breadcrumb mb-4 bg-white shadow">
                <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Trang chủ</a></li>
                <li class="breadcrumb-item"><a asp-action="Index" asp-controller="User">Quản lí người dùng</a></li>
                <li class="breadcrumb-item active">Thông tin tài khoản </li>
            </ol>
        </nav>
    </div>
   
    
    <div class="card mb-4 shadow">
        <div class="card-body">
            <div class="row">
                
                <div class="col-md-12">
                    <dl class="row">
                        <table class="table table-striped">
                            <tbody>
                                <tr>
                                    <th>Họ tên: </th>
                                    <td>@Html.DisplayFor(model => model.FirstName)</td>
                                </tr>
                                <tr>
                                    <th>Email: </th>
                                    <td> @Html.DisplayFor(model => model.Email)</td>
                                </tr>
                                <tr>
                                    <th>Số điện thoại:</th>
                                    <td>@Html.DisplayFor(model => model.Phone)</td>
                                </tr>
                                <tr>
                                    <th>Giới tính:</th>
                                    <td>
                                        @{
                                            var gender = Convert.ToInt32(Model.Gender) == 1 ? "Nam" : Convert.ToInt32(Model.Gender) == 0 ? "Nữ" : "Khác";
                                        }
                                        @gender
                                    </td>
                                </tr>
                                <tr>
                                    <th>Ngày sinh:</th>
                                    <td>@Html.DisplayFor(model => model.Dob)</td>
                                </tr>
                                <tr>
                                    <th>Địa chỉ:</th>
                                    <td>@Html.DisplayFor(model => model.Address)</td>
                                </tr>
                                <tr>
                                    <th> Ngày đăng kí:</th>
                                    <td>@Html.DisplayFor(model => model.CreatedAt)</td>
                                </tr>
                                <tr>
                                    <th> Ngày cập nhật:</th>
                                    <td>@Html.DisplayFor(model => model.UpdatedAt)</td>
                                </tr>
                                <tr>
                                    <th> Lần đăng nhập cuối:</th>
                                    <td>@Html.DisplayFor(model => model.LastSigninedTime)</td>
                                </tr>
                                <tr>
                                    <th> Trạng thái:</th>
                                    <td>@Html.DisplayFor(model => model.Status)</td>
                                </tr>
                                
                                <tr>
                                    <th> Vai trò:</th>
                                    <td>
                                        @(Permittion.Roles[Model.Roles])
                                        </td>
                                </tr>
                                <tr>
                                    <th> Nhóm người dùng:</th>
                                    <td> @Html.DisplayFor(model => model.GroupUserName)</td>
                                </tr>
                            </tbody>
                        </table>
                    </dl>
                    <div>
                        @if (User.FindFirstValue(ClaimTypes.Role) == "Administator" || User.FindFirstValue(ClaimTypes.NameIdentifier) == Model.Id.ToString())
                        {
                            <a class="btn btn-success" asp-action="Edit" asp-route-id="@Model.Id">
                                <i class="fa-solid fa-pen-to-square" style="color: #ffffff;"></i>
                                Chỉnh sửa
                            </a>
                            <a class="btn btn-primary" asp-action="ChangePassword" asp-route-id="@Model.Id">
                                <i class="fa-solid fa-key"></i>
                                Đổi mật khẩu
                            </a>
                        }

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

