@using DongThucVatQuangTri.Applications.Enums;
@using DongThucVatQuangTri.Applications.Maps.Dtos;
@using static DongThucVatQuangTri.Applications.Common.HelperMethod;
@model MapViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    string nameTypeMap = "";
    foreach (var status1 in Enum.GetValues(typeof(typeMap)))
    {
        if (Model.typeMap== (int)status1)
        {
            nameTypeMap = @EnumExtensions.GetEnumMemberValue((typeMap)status1);
            break;
        }
    }
    ViewData["Title"] = "Thông tin bản đồ";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}
@section Scripts{
    <script>
        setTimeout(function () {
            $('#msgAlert').fadeOut("slow");
        }, 2000);
    </script>
}
<style>
    th:first-child {
        width: 30%;
    }
</style>
<div class="container-fluid px-4">
    <h1 class="mt-4">@ViewData["Title"]</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Trang chủ</a></li>
        <li class="breadcrumb-item active">@ViewData["Title"] </li>
    </ol>
    <div style="margin: 20px 0;">
        <a class="btn btn-success" asp-action="Index" asp-route-type="@Model.typeMap"><i class="fa-solid fa-list" style="color: #ffffff;"></i> Danh sách @nameTypeMap</a>
    </div>
    <div class="card mb-4">
        <div class="card-body">
            @*  <div class="row mb-3 d-flex justify-content-center">
            <div class="col-md-4">
            <div>Hình ảnh:</div>
            @if (!String.IsNullOrEmpty(Model.linkMap))
            {
            <img style="height: 250px;width:250px" src="/user-content/@Model.Image" alt="..." class="img-thumbnail">
            }
            else
            {
            <img style="height: 250px;width:250px" src="/admin/assets/img/no-image-available-icon-flat-vector-25898826.jpg" alt="..." class="img-thumbnail">
            }
            </div>
            </div> *@
            <div class="row">
                <div class="col-md-12">
                    <dl class="row">
                        @if (ViewBag.ErrorMsg != null)
                        {
                            <div id="msgAlert" class="alert alert-danger" role="alert">
                                @ViewBag.ErrorMsg
                            </div>
                        }
                        @if (ViewBag.SuscessMsg != null)
                        {
                            <div id="msgAlert" class="alert alert-success" role="alert">
                                @ViewBag.SuscessMsg
                            </div>
                        }
                        <table class="table table-striped">
                            <tbody>

                                <tr>
                                    <th>Tên: </th>
                                    <td> @Html.DisplayFor(model => model.Name)</td>
                                </tr>
                                <tr>
                                    <th>Bản đồ: </th>
                                    <td>
                                        <form asp-action="DownloadRarFile" method="post">
                                            <input type="hidden" name="fileName" value="@Model.linkMap"/>
                                            <input type="hidden" name="Id" value="@Model.Id" />
                                            <button style="    background: transparent;
    border: none;
    color: #0d2ef3;" type="submit">
                                                @Html.DisplayFor(model => model.linkMap)
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                                <tr>
                                    <th> Người tạo:</th>
                                    <td>@Html.DisplayFor(model => model.Name)</td>
                                </tr>
                                <tr>
                                    <th> Ngày tạo:</th>
                                    <td>@Html.DisplayFor(model => model.CreatedAt)</td>
                                </tr>
                                <tr>
                                    <th> Loại bản đồ:</th>
                                    <td>@nameTypeMap</td>
                                </tr>
                                <tr>
                                    <th> Ngày cập nhật:</th>
                                    <td>@Html.DisplayFor(model => model.UpdatedAt)</td>
                                </tr>
                                <tr>
                                    <th> Mô tả:</th>
                                    <td>@Html.Raw(Model.Description)</td>
                                </tr>
                            </tbody>
                        </table>
                    </dl>
                    <div>
                        <a class="btn btn-success" asp-action="Edit" asp-route-id="@Model.Id">
                            <i class="fa-solid fa-pen-to-square" style="color: #ffffff;"></i>
                            Chỉnh sửa
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

