﻿@using System.Security.Claims;
@using DongThucVatQuangTri.Applications.AnimalsAndPlant.SpeciesNationParkManage.Dtos;
@model CreateSpeciesNationParkRequest
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Thêm loài";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}
@section Scripts{

    <script src="/admin/assets/ckeditor/ckeditor.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet-easyprint@2.1.9/dist/bundle.min.js"></script>
    <script type="text/javascript" src="/dataMaps/newMap/js/dist/Leaflet.Coordinates-0.1.5.min.js"></script>
    <script type="text/javascript" src="/dataMaps/newMap/js/dist/leaflet.groupedlayercontrol.js"></script>
    <link rel="stylesheet" href="/dataMaps/newMap/js/dist/Leaflet.Coordinates-0.1.5.css" />
    <link rel="stylesheet" href="/dataMaps/newMap/js/dist/leaflet.groupedlayercontrol.css" />
    <script>
        CKEDITOR.replace('editor');
    </script>
    <script>
        function ShowInfor(id, status) {
            $.ajax({
                url: '@Url.Action("AutoCompleteInfoSpecies", "SpeciesNationPark")',
                type: 'GET',
                data: { Id: id },
                success: function (result) {
                    console.log(result);

                    // Truy cập các giá trị từ đối tượng JSON và gán vào thẻ input
                    $("input[name='NameHo']").val(result.nameHo);
                    $("input[name='NameBo']").val(result.nameBo);
                    $("input[name='NameLop']").val(result.nameLop);
                    $("input[name='NameNganh']").val(result.nameNganh);
                },
                error: function (error) {
                    $("input[name='NameHo']").val("");
                    $("input[name='NameBo']").val("");
                    $("input[name='NameLop']").val("");
                    $("input[name='NameNganh']").val("");
                }
            });
        }
    </script>
    @if (User.FindFirstValue(ClaimTypes.Role) == "NationParkMuongTe")
    {
        <script src="/dataMaps/newMap/data/muongte_rrx_wgs84.js"></script>
        
        <script>
            // Creating map options
            var mapOptions = {
                center: [22.481854, 102.616594],
                zoom: 11,
                attributionControl: false
            }
            var map = new L.map('map', mapOptions);    // Creating a map object
            var basemaps = {

                GoogleStreets: L.tileLayer('http://{s}.google.com/vt/lyrs=m&x={x}&y={y}&z={z}', {
                    maxZoom: 20,
                    subdomains: ['mt0', 'mt1', 'mt2', 'mt3']
                }),
                GoogleHybrid: L.tileLayer('http://{s}.google.com/vt/lyrs=s,h&x={x}&y={y}&z={z}', {
                    maxZoom: 20,
                    subdomains: ['mt0', 'mt1', 'mt2', 'mt3']
                }),
                GoogleSatellite: L.tileLayer('http://{s}.google.com/vt/lyrs=s&x={x}&y={y}&z={z}', {
                    maxZoom: 20,
                    subdomains: ['mt0', 'mt1', 'mt2', 'mt3']
                }),
                GoogleTerrain: L.tileLayer('http://{s}.google.com/vt/lyrs=p&x={x}&y={y}&z={z}', {
                    maxZoom: 20,
                    subdomains: ['mt0', 'mt1', 'mt2', 'mt3']
                }),
                OpenMapStreets: L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png'),

            };

            L.control.layers(basemaps).addTo(map);
            basemaps.GoogleHybrid.addTo(map);
            var popup = L.popup();
            var mtData = L.geoJson(muongtedatarrx).addTo(map); // Add geojson rrxa muong te
            /*===================================================
                            Attribution options
            ===================================================*/
            var attrOptions = {
                prefix: 'Creater: Cường nv'
            };

            var attr = L.control.attribution(attrOptions);
            var scale = L.control.scale(); // Creating scale control
            //L.geoJson(muongte_rgxa).addTo(map)
            scale.addTo(map); // Adding scale control to the map
            attr.addTo(map);  // Adding attribution to the map
            // L.Control.geocoder().addTo(map); // Add search to maps
            // Add coornidates
            L.control.coordinates({
                position: "bottomright", //optional default "bootomright"
                decimals: 2, //optional default 4
                decimalSeperator: ".", //optional default "."
                labelTemplateLat: "Latitude: {y}", //optional default "Lat: {y}"
                labelTemplateLng: "Longitude: {x}", //optional default "Lng: {x}"
                enableUserInput: true, //optional default true
                useDMS: false, //optional default false
                useLatLngOrder: true, //ordering of labels, default false-> lng-lat
                markerType: L.marker, //optional default L.marker
                markerProps: {}, //optional default {},
                labelFormatterLng: function (lng) { return lng + " lng" }, //optional default none,
                labelFormatterLat: function (lat) { return lat + " lat" }, //optional default none
                //customLabelFcn: function(latLonObj, opts) { "Geohash: " + encodeGeoHash(latLonObj.lat, latLonObj.lng)} //optional default none
            }).addTo(map);




            var marker;
            // Creating a Layer object
            var layer = new L.TileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png');
            map.addLayer(layer); // Adding layer to the map
            map.on("click", function (e) {
                console.log(marker)
                if (marker) {
                    console.log(marker)
                    map.removeLayer(marker); // Xóa marker cũ nếu đã có
                }
                marker = L.marker([e.latlng.lat, e.latlng.lng]).addTo(map);

                $("input[name='KinhDo']").val(e.latlng.lng)
                $("input[name='ViDo']").val(e.latlng.lat)
            })
        </script>
    }
    else if (User.FindFirstValue(ClaimTypes.Role) == "NationParkNamGiang")
    {
        <script src="/dataMaps/newMap/data/NamGiang_rrx.js"></script>
        <script>
            var mapOptions = {
                center: [15.602519, 107.619380],
                zoom: 11,
                attributionControl: false
            }
            var map = new L.map('map', mapOptions);    // Creating a map object
            var basemaps = {

                GoogleStreets: L.tileLayer('http://{s}.google.com/vt/lyrs=m&x={x}&y={y}&z={z}', {
                    maxZoom: 20,
                    subdomains: ['mt0', 'mt1', 'mt2', 'mt3']
                }),
                GoogleHybrid: L.tileLayer('http://{s}.google.com/vt/lyrs=s,h&x={x}&y={y}&z={z}', {
                    maxZoom: 20,
                    subdomains: ['mt0', 'mt1', 'mt2', 'mt3']
                }),
                GoogleSatellite: L.tileLayer('http://{s}.google.com/vt/lyrs=s&x={x}&y={y}&z={z}', {
                    maxZoom: 20,
                    subdomains: ['mt0', 'mt1', 'mt2', 'mt3']
                }),
                GoogleTerrain: L.tileLayer('http://{s}.google.com/vt/lyrs=p&x={x}&y={y}&z={z}', {
                    maxZoom: 20,
                    subdomains: ['mt0', 'mt1', 'mt2', 'mt3']
                }),
                OpenMapStreets: L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png'),

            };

            L.control.layers(basemaps).addTo(map);
            basemaps.GoogleHybrid.addTo(map);
            var popup = L.popup();
            var mtData = L.geoJson(namgiang_rrx).addTo(map); // Add geojson rrxa muong te
           

            /*===================================================
                            Attribution options
            ===================================================*/
            var attrOptions = {
                prefix: 'Creater: Cường nv'
            };

            var attr = L.control.attribution(attrOptions);
            var scale = L.control.scale(); // Creating scale control
            //L.geoJson(muongte_rgxa).addTo(map)
            scale.addTo(map); // Adding scale control to the map
            attr.addTo(map);  // Adding attribution to the map
            // L.Control.geocoder().addTo(map); // Add search to maps
            // Add coornidates
            L.control.coordinates({
                position: "bottomright", //optional default "bootomright"
                decimals: 2, //optional default 4
                decimalSeperator: ".", //optional default "."
                labelTemplateLat: "Latitude: {y}", //optional default "Lat: {y}"
                labelTemplateLng: "Longitude: {x}", //optional default "Lng: {x}"
                enableUserInput: true, //optional default true
                useDMS: false, //optional default false
                useLatLngOrder: true, //ordering of labels, default false-> lng-lat
                markerType: L.marker, //optional default L.marker
                markerProps: {}, //optional default {},
                labelFormatterLng: function (lng) { return lng + " lng" }, //optional default none,
                labelFormatterLat: function (lat) { return lat + " lat" }, //optional default none
                //customLabelFcn: function(latLonObj, opts) { "Geohash: " + encodeGeoHash(latLonObj.lat, latLonObj.lng)} //optional default none
            }).addTo(map);





            var marker;
            // Creating a Layer object
            var layer = new L.TileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png');
            map.addLayer(layer); // Adding layer to the map
            map.on("click", function (e) {
                console.log(marker)
                if (marker) {
                    console.log(marker)
                    map.removeLayer(marker); // Xóa marker cũ nếu đã có
                }
                marker = L.marker([e.latlng.lat, e.latlng.lng]).addTo(map);

                $("input[name='KinhDo']").val(e.latlng.lng)
                $("input[name='ViDo']").val(e.latlng.lat)
            })
        </script>
    }
    else
    {
        <script src="/dataMaps/newMap/data/muongte_rrx_wgs84.js"></script>
        <script src="/dataMaps/newMap/data/NamGiang_rrx.js"></script>
        <script>
            // Creating map options
            var mapOptions = {
                center: [17.08199033811567, 107.048198306605],
                zoom: 6,
                attributionControl: false
            }
          
            var map = new L.map('map', mapOptions);    // Creating a map object

            var basemaps = {

                GoogleStreets: L.tileLayer('http://{s}.google.com/vt/lyrs=m&x={x}&y={y}&z={z}', {
                    maxZoom: 20,
                    subdomains: ['mt0', 'mt1', 'mt2', 'mt3']
                }),
                GoogleHybrid: L.tileLayer('http://{s}.google.com/vt/lyrs=s,h&x={x}&y={y}&z={z}', {
                    maxZoom: 20,
                    subdomains: ['mt0', 'mt1', 'mt2', 'mt3']
                }),
                GoogleSatellite: L.tileLayer('http://{s}.google.com/vt/lyrs=s&x={x}&y={y}&z={z}', {
                    maxZoom: 20,
                    subdomains: ['mt0', 'mt1', 'mt2', 'mt3']
                }),
                GoogleTerrain: L.tileLayer('http://{s}.google.com/vt/lyrs=p&x={x}&y={y}&z={z}', {
                    maxZoom: 20,
                    subdomains: ['mt0', 'mt1', 'mt2', 'mt3']
                }),
                OpenMapStreets: L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png'),

            };

            L.control.layers(basemaps).addTo(map);
            basemaps.GoogleHybrid.addTo(map);
            var popup = L.popup();
            var mtData = L.geoJson(namgiang_rrx).addTo(map); // Add geojson rrxa muong te
            var mtData2 = L.geoJson(muongtedatarrx).addTo(map); // Add geojson rrxa muong te
            /*===================================================
                            Attribution options
            ===================================================*/
            var attrOptions = {
                prefix: 'Creater: Cường nv'
            };

            var attr = L.control.attribution(attrOptions);
            var scale = L.control.scale(); // Creating scale control
            //L.geoJson(muongte_rgxa).addTo(map)
            scale.addTo(map); // Adding scale control to the map
            attr.addTo(map);  // Adding attribution to the map
            // L.Control.geocoder().addTo(map); // Add search to maps
            // Add coornidates
            L.control.coordinates({
                position: "bottomright", //optional default "bootomright"
                decimals: 2, //optional default 4
                decimalSeperator: ".", //optional default "."
                labelTemplateLat: "Latitude: {y}", //optional default "Lat: {y}"
                labelTemplateLng: "Longitude: {x}", //optional default "Lng: {x}"
                enableUserInput: true, //optional default true
                useDMS: false, //optional default false
                useLatLngOrder: true, //ordering of labels, default false-> lng-lat
                markerType: L.marker, //optional default L.marker
                markerProps: {}, //optional default {},
                labelFormatterLng: function (lng) { return lng + " lng" }, //optional default none,
                labelFormatterLat: function (lat) { return lat + " lat" }, //optional default none
                //customLabelFcn: function(latLonObj, opts) { "Geohash: " + encodeGeoHash(latLonObj.lat, latLonObj.lng)} //optional default none
            }).addTo(map);





            var marker;
            // Creating a Layer object
            var layer = new L.TileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png');
            map.addLayer(layer); // Adding layer to the map
            map.on("click", function (e) {
                console.log(marker)
                if (marker) {
                    console.log(marker)
                    map.removeLayer(marker); // Xóa marker cũ nếu đã có
                }
                marker = L.marker([e.latlng.lat, e.latlng.lng]).addTo(map);

                $("input[name='KinhDo']").val(e.latlng.lng)
                $("input[name='ViDo']").val(e.latlng.lat)
            })
        </script>
    }
    
}
@{
    var idLoai = -1;
    if (string.Equals(ViewBag.Loai, "Động Vật", StringComparison.CurrentCultureIgnoreCase))
    {
        idLoai = 1;
    }
    if (string.Equals(ViewBag.Loai, "Thực Vật", StringComparison.CurrentCultureIgnoreCase))
    {
        idLoai = 0;
    }
}
<div class="container-fluid px-4">
    <h1 class="mt-4">Thêm loài @ViewBag.Loai vườn quốc gia </h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Trang chủ</a></li>
        <li class="breadcrumb-item active">Thêm loài @ViewBag.Loai </li>
    </ol>
    <div style="margin: 20px 0;">
        <a class="btn btn-success" asp-action="Index" asp-route-loai="@idLoai"><i class="fa-solid fa-list" style="color: #ffffff;"></i> Danh loài @ViewBag.Loai vườn quốc gia</a>
    </div>
    <div class="row">
        <form asp-action="Create" asp-route-loai="@idLoai" enctype="multipart/form-data" class="row">
            <div class="col-md-6">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="IdDtvLoai" class="control-label"> Loài:</label>
                    <select asp-for="IdDtvLoai" name="IdDtvLoai" asp-items="@ViewBag.Categories" class="form-control select2" onchange="ShowInfor(this.options[this.selectedIndex].value)">
                        <option value="0">Chọn loài</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label">Họ:</label>
                    <input type="text" name="NameHo" class="form-control" disabled />
                </div>
                <div class="form-group">
                    <label class="control-label">Bộ:</label>
                    <input type="text" name="NameBo" class="form-control" disabled />
                </div>
                <div class="form-group">
                    <label class="control-label">Lớp:</label>
                    <input type="text" name="NameLop" class="form-control" disabled />
                </div>
                <div class="form-group">
                    <label class="control-label">Ngành:</label>
                    <input type="text" name="NameNganh" class="form-control" disabled />
                </div>
                <div class="form-group">
                    <label asp-for="TenKhac" class="control-label">Tên khác:</label>
                    <input asp-for="TenKhac" class="form-control" />
                    <span asp-validation-for="TenKhac" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PhanBo" class="control-label">Vùng phân bố:</label>
                    <input asp-for="PhanBo" class="form-control" />
                    <span asp-validation-for="PhanBo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NguonTaiLieu" class="control-label">Nguồn tài liệu:</label>
                    <input asp-for="NguonTaiLieu" class="form-control" />
                    <span asp-validation-for="NguonTaiLieu" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Status" class="control-label">Trạng thái: </label>
                    <select asp-for="Status" class="form-control" id="dropdown" name="Status">
                        <option value="1">Bật</option>
                        <option value="0">Tắt</option>
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="FileDinhKem" class="control-label">Hình ảnh:</label>
                    <input type="file" multiple asp-for="FileDinhKem" class="form-control" />
                    <span asp-validation-for="FileDinhKem" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="GiaTriSuDung" class="control-label">Công dụng/ Giá trị sử dụng:</label>
                    <textarea placeholder="Tối đa 255 kí tự" style="height:100px;" maxlength="255" asp-for="GiaTriSuDung" class="form-control"></textarea>
                    <span asp-validation-for="GiaTriSuDung" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="DacDiem" class="control-label">Đặc điểm hình thái, sinh thái:</label>
                    <textarea asp-for="DacDiem" id="editor" class="form-control"></textarea>
                    <span asp-validation-for="DacDiem" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group row">
                    <div class="col-md-6">
                        <label asp-for="KinhDo" class="control-label">Kinh độ:</label>
                        <input asp-for="KinhDo" class="form-control" name="KinhDo" />
                    </div>
                    <div class="col-md-6">
                        <label asp-for="ViDo" class="control-label">Vĩ độ:</label>
                        <input asp-for="ViDo" class="form-control" name="ViDo"  />
                    </div>
                </div>
                <div>
                    <label class="control-label">Bản đồ:</label>
                    <div id="map" style="width: 100%; height: 580px"></div>
                </div>
            </div>
            <div class="form-group m-2">
                <input type="hidden" asp-for="Loai" value="@idLoai" />
                <input type="hidden" asp-for="CreatedBy" value="@User.FindFirst(ClaimTypes.NameIdentifier).Value" />
                <button type="submit" class="btn btn-primary"><i class="fa-regular fa-floppy-disk" style="color: #ffffff;"></i> Lưu</button>
                <button asp-action="Index" class="btn btn-secondary" asp-route-loai="@idLoai"><i class="fa-solid fa-xmark" style="color: #ffffff;"></i> Hủy</button>

                @*      <input type="submit" value="Lưu" class="btn btn-primary" style="margin: 20px 0;" />
                <button asp-action="Index" asp-route-loai="@idLoai" class="btn btn-secondary" />Hủy</button> *@
            </div>
        </form>
    </div>
</div>