@using DongThucVatQuangTri.Applications.AnimalsAndPlant.BranchManage.Dtos;
@using DongThucVatQuangTri.Applications.AnimalsAndPlant.ClassManage.Dtos;
@using DongThucVatQuangTri.Applications.AnimalsAndPlant.FamilyManage.Dtos;
@using DongThucVatQuangTri.Applications.AnimalsAndPlant.SetManage.Dtos;
@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json

@model DetailsModels

@{
    ViewData["Title"] = "Thông tin loài";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var SearchModelSession = Context.Session.GetString("SearchModel");
    var SearchModel = JsonConvert.DeserializeObject<SearchModel>(SearchModelSession);
    var UrlListAnimal = Url.ActionLink(
    "Index",
    "Natural",                          // Tên controller
    new
    {
        keyword = SearchModel.keyword,         // Truyền tham số keyword
        keyword2 = SearchModel.keyword2,       // Truyền tham số keyword2
        IdLoai = SearchModel.IdLoai,           // Truyền tham số IdLoai
        id_nganh = SearchModel.id_nganh,       // Truyền tham số id_nganh
        id_lop = SearchModel.id_lop,           // Truyền tham số id_lop
        id_bo = SearchModel.id_bo,             // Truyền tham số id_bo
        id_ho = SearchModel.id_ho,             // Truyền tham số id_ho
        icun = SearchModel.icun,               // Truyền tham số icun
        sdvn = SearchModel.sdvn,               // Truyền tham số sdvn
        ndcp = SearchModel.ndcp,               // Truyền tham số ndcp
        nd64cp = SearchModel.nd64cp,           // Truyền tham số nd64cp
        vqg = SearchModel.vqg                  // Truyền tham số vqg
    });
}
@{
    string vqg = Context.Session.GetString("NationPark");
}
@section CilentScript{
    <script>

        function zoomImg() {
            event.preventDefault();
            console.log("hello")

            $('.popup-gallery').magnificPopup({
                delegate: 'a',
                type: 'image',
                tLoading: 'Loading image #%curr%...',
                mainClass: 'mfp-img-mobile',
                gallery: {
                    enabled: true,
                    navigateByImgClick: true,
                    preload: [0, 1] // Will preload 0 - before current, and 1 after the current image
                },
                image: {
                    tError: '<a href="%url%">The image #%curr%</a> could not be loaded.',

                }
            });

        }
        function zoomImg1() {
            event.preventDefault();
            console.log("hello")

            $('.popup-gallery1').magnificPopup({
                delegate: 'a',
                type: 'image',
                tLoading: 'Loading image #%curr%...',
                mainClass: 'mfp-img-mobile',
                gallery: {
                    enabled: true,
                    navigateByImgClick: true,
                    preload: [0, 1] // Will preload 0 - before current, and 1 after the current image
                },
                image: {
                    tError: '<a href="%url%">The image #%curr%</a> could not be loaded.',

                }
            });

        }

    </script>
 }
<style>
    ul, li {
        margin: 0;
        padding: 0;
    }

    .noidung {
        padding: 0 0 0 30px;
    }

    .noibat {
        max-width: 820px;
        margin: 0 auto !important;
    }

    .tintuc {
        margin: 0 !important;
    }

    .noidung a {
        font-family: 'LoraF' !important;
        font-weight: bold;
        display: -webkit-box !important;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
    }

    .noidung h6 {
        display: -webkit-box !important;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
    }

    h3 {
        font-size: 25px;
        font-weight: 500;
    }
</style>
<div id="content" style="margin:0 0 150px">
    <div class="cover"><img src="/images/cover.png" width="1920" height="252" alt="" /></div>
    
    <div class="tintuc" id="trangchitiet">
        
        <div class="maincontent">
            <div class="col-lg-12">
                <nav style="--bs-breadcrumb-divider: '/';" aria-label="breadcrumb">
                    <ol class="breadcrumb mb-4 bg-white shadow p-2">
                        <li class="breadcrumb-item"><a href="@UrlListAnimal">Danh sách loài</a></li>
                        <li class="breadcrumb-item active">Thông tin loài </li>
                    </ol>
                </nav>
            </div>
            <h2><span style="font-family:LoraF;">Thông tin loài <span></span></span></h2>
            <div class="row">
                <div class="col-md-12">
                    <dl class="row">
                        <table class="table table-striped">
                            <tbody>
                                <tr>
                                    <th>Tên tiếng việt: </th>
                                    <td>@Html.DisplayFor(model => model.speciesViewModels.Name)</td>
                                </tr>
                                <tr>
                                    <th>Tên khoa học: </th>
                                    <td> @Html.DisplayFor(model => model.speciesViewModels.NameLatinh)</td>
                                </tr>

                                @*    <tr>
                                <th>Tên khác: </th>
                                <td> @Html.DisplayFor(model => model.speciesViewModels.TenKhac)</td>
                                </tr> *@
                                @{
                                    var Bo = ViewBag.Bo as List<SetViewModels>;
                                    var Lop = ViewBag.Lop as List<ClassViewModels>;
                                    var Nganh = ViewBag.Nganh as List<BranchViewModel>;
                                    var Ho = ViewBag.Ho as List<FamilyViewModels>;
                                    var itemHo = Ho.Where(x => x.Id == Model.speciesViewModels.IdDtvHo).FirstOrDefault();
                                    var ItemBo = Bo.Where(x => x.Id == itemHo.IdDtvBo).FirstOrDefault();
                                    var itemLop = Lop.Where(x => x.Id == ItemBo.IdDtvLop).FirstOrDefault();
                                    var itemNganh = Nganh.Where(x => x.Id == itemLop.IdDtvNganh).FirstOrDefault();
                                }
                                <tr>
                                    <th>Họ: </th>
                                    <td> @itemHo?.Name</td>
                                </tr>
                                <tr>
                                    <th>Bộ: </th>
                                    <td> @ItemBo?.Name</td>
                                </tr>
                                <tr>
                                    <th>Lớp: </th>
                                    <td>@itemLop?.Name </td>
                                </tr>
                                @*     <tr>
                                <th>Phân bố: </th>
                                <td> @Html.DisplayFor(model => model.speciesViewModels.PhanBo)</td>
                                </tr> *@
                                <tr>
                                    <th>Ngành: </th>
                                    <td> @itemNganh?.Name</td>
                                </tr>
                                <tr>
                                    <th>Mức độ bảo tồn IUCN: </th>
                                    <td> @ViewBag.MucDoBaoTonICUN</td>
                                </tr>
                                <tr>
                                    <th>Mức độ bảo tồn SDVN: </th>
                                    <td> @ViewBag.MucDoBaoTonSDVN</td>
                                </tr>
                                <tr>
                                    <th>Mức độ bảo tồn NDCP: </th>
                                    <td> @ViewBag.MucDoBaoTonNDCP</td>
                                </tr>
                                <tr>
                                    <th>Mức độ bảo tồn Nd64Cp: </th>
                                    <td> @ViewBag.MucDoBaoTonND64CP</td>
                                </tr>
                                @*   <tr>
                                <th>Nguồn tài liệu: </th>
                                <td> @Html.DisplayFor(model => model.speciesViewModels.NguonTaiLieu)</td>
                                </tr> *@
                            </tbody>
                        </table>
                    </dl>

                </div>
            </div>
            <div class="accordion " id="accordionPanelsStayOpenExample">
                <div class="accordion-item border-0 border-bottom" id="modeNationParkMuongTe">
                    <h2 class="accordion-header mb-1" id="panelsStayOpen-headingOne">
                        <button class="accordion-button collapsed p-0" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                            <h3><span>Thông tin tại BQL rừng phòng hộ Nam Giang <span></span></span></h3>
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse " aria-labelledby="panelsStayOpen-headingOne">
                        <div class="accordion-body row">
                            <div class="col-md-12">
                                <div class="row text-center">
                                    @if (Model.speciesViewModels.VQgNamGiang != null)
                                    {
                                        <h3>Hình ảnh</h3>
                                        <div class="popup-gallery">
                                            @{
                                                List<string> ListUrl = new List<string>();
                                                @if (Model != null)
                                                {
                                                    if (!String.IsNullOrEmpty(Model.speciesViewModels.VQgNamGiang.FileDinhKem))
                                                    {
                                                        ListUrl = (Model.speciesViewModels.VQgNamGiang.FileDinhKem.Split(",")).ToList();
                                                    }
                                                    else
                                                    {
                                                        ListUrl = null;
                                                    }
                                                }
                                                else
                                                {
                                                    ListUrl = null;
                                                }

                                                @if (ListUrl != null)
                                                {
                                                    @foreach (var Url in ListUrl)
                                                    {
                                                        @if (!String.IsNullOrEmpty(Url.Trim()))
                                                        {
                                                            <a href="/user-content/@Url" onclick="zoomImg() ">
                                                                <img height="150" width="150" src="/user-content/@Url" alt="..." class="img-thumbnail" style="width: 150px; height: 150px;">
                                                            </a>
                                                        }
                                                    }
                                                }
                                                else
                                                {
                                                    <img height="150" width="150" src="/admin/assets/img/no-image-available-icon-flat-vector-25898826.jpg" alt="..." style="width: 150px; height: 150px;" class="img-thumbnail">
                                                }
                                            }
                                        </div>
                                        <h3>Tên khác</h3>
                                        <p>@Model.speciesViewModels.VQgNamGiang.TenKhac</p>
                                        <h3>Phân bố</h3>
                                        <p>@Model.speciesViewModels.VQgNamGiang.PhanBo</p>
                                        <h3>Nguồn tài liệu</h3>
                                        <p>@Model.speciesViewModels.VQgNamGiang.NguonTaiLieu</p>
                                        <h3>Đặc điểm</h3>
                                        <p>@Html.Raw(Model.speciesViewModels.VQgNamGiang.DacDiem)</p>
                                        <h3>Công dụng - Giá trị sử dụng</h3>
                                        <p>@Model.speciesViewModels.VQgNamGiang.GiaTriSuDung</p>
                                    }
                                    else
                                    {
                                        <h3 class="p-2">
                                            Không có thông tin
                                        </h3>
                                    }
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item border-0 border-bottom" id="modeNationParkNamGiang">
                    <h2 class="accordion-header mb-1" id="panelsStayOpen-headingTwo">
                        <button class="accordion-button collapsed p-0" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="true" aria-controls="panelsStayOpen-collapseTwo">
                            <h3><span>Thông tin tại BQL rừng phòng hộ Mường Tè <span></span></span></h3>
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo" data-bs-parent="#accordionPanelsStayOpenExample">
                        <div class="accordion-body row">
                            <div class="col-md-12">
                                <div class="row text-center">
                                    @if (Model.speciesViewModels.VQGMuongTe != null)
                                    {
                                        <h3>Hình ảnh</h3>
                                        <div class="popup-gallery1">
                                            @{
                                                List<string> ListUrl = new List<string>();
                                                @if (Model != null)
                                                {
                                                    if (!String.IsNullOrEmpty(Model.speciesViewModels.VQGMuongTe.FileDinhKem))
                                                    {
                                                        ListUrl = (Model.speciesViewModels.VQGMuongTe.FileDinhKem.Split(",")).ToList();
                                                    }
                                                    else
                                                    {
                                                        ListUrl = null;
                                                    }
                                                }
                                                else
                                                {
                                                    ListUrl = null;
                                                }

                                                @if (ListUrl != null)
                                                {
                                                    @foreach (var Url in ListUrl)
                                                    {
                                                        @if (!String.IsNullOrEmpty(Url.Trim()))
                                                        {
                                                            <a href="/user-content/@Url" onclick="zoomImg1() ">
                                                                <img height="150" width="150" src="/user-content/@Url" alt="..." class="img-thumbnail" style="width: 150px; height: 150px;">
                                                            </a>
                                                        }
                                                    }
                                                }
                                                else
                                                {
                                                    <img height="150" width="150" src="/admin/assets/img/no-image-available-icon-flat-vector-25898826.jpg" style="width: 150px; height: 150px;" alt="..." class="img-thumbnail">
                                                }
                                            }
                                        </div>

                                        <h3 style="">Tên khác</h3>
                                        <p>@Model.speciesViewModels.VQGMuongTe.TenKhac</p>
                                        <h3>Phân bố</h3>
                                        <p>@Model.speciesViewModels.VQGMuongTe.PhanBo</p>
                                        <h3>Nguồn tài liệu</h3>
                                        <p>@Model.speciesViewModels.VQGMuongTe.NguonTaiLieu</p>
                                        <h3>Đặc điểm</h3>
                                        <p>@Html.Raw(Model.speciesViewModels.VQGMuongTe.DacDiem)</p>
                                        <h3>Công dụng - Giá trị sử dụng</h3>
                                        <p>@Model.speciesViewModels.VQGMuongTe.GiaTriSuDung</p>
                                    }
                                    else
                                    {
                                        <h3>Không có thông tin</h3>
                                    }
                                </div>

                            </div>


                        </div><!--end maincontent-->

                    </div>
                </div>
            </div>

            <h3><span style="font-family: 'LoraF';">Loài tương tự <span></span></span></h3>
        </div><!--end tintuc-->
        @{
            int i = 1;
        }
        <div class="doitac duantieubieu" style="background-color:white">
            <div class="tintuc">
                <div class="maincontent">
                    <div class="noibat">
                        <div class="tinnoibat" style="width:100%">
                            <div class="danhsachtin">
                                <div class="row">
                                    @foreach (var item in Model.lisViewModels)
                                    {
                                        <div class="tin1 col-sm-6">
                                            <p class="stt">
                                                @i @{
                                                    i++;
                                                }.
                                            </p>
                                            <div class="noidung">
                                                @{
                                                    var img = "";
                                                }
                                                @if (!String.IsNullOrEmpty(@item.FileDinhKem))
                                                {
                                                    var ListImg = item.FileDinhKem.Split(',').Where(x => !String.IsNullOrEmpty(x)).ToList();
                                                    img = ListImg.FirstOrDefault();
                                                }
                                                else
                                                {
                                                    img = null;
                                                }
                                                @if (!String.IsNullOrEmpty(img))
                                                {
                                                    <img src="/user-content/@img" width="150" height="150" alt="" style="float: left;margin-right: 10px;">
                                                }
                                                else
                                                {
                                                    <img width="150" height="150" src="/admin/assets/img/no-image-available-icon-flat-vector-25898826.jpg" alt="..." class="img-thumbnail" style="float: left;margin-right: 10px;">
                                                }
                                                <div>
                                                    <h4 style="float:unset;"><a asp-action="Details" asp-route-Id="@item.Id">@item.Name</a></h4>
                                                    <ul style="list-style:none; margin:0">
                                                        <li style="margin:0"><a asp-action="Details" asp-route-Id="@item.Id">chi tiết<i class="icon"></i></a></li>
                                                    </ul>
                                                </div>

                                            </div><!--end noidung-->
                                            <div style="clear:both;"></div>
                                        </div>

                                        <!--end tin1-->
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div><!--end duantieubieu-->
    </div><!--end content-->
    <script>
        if ('@vqg' != "All") {
            var select = document.getElementById("mode" + '@vqg')
            console.log(select)
            select.style.display = "none";
        }
    </script>
