@using System.Security.Claims;
@using DongThucVatQuangTri.Applications.AnimalsAndPlant.ClassManage.Dtos;
@model UpdateClassRequest
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Sửa lớp";
}
@section Scripts {
    <script>
        setTimeout(function () {
            $('#msgAlert').fadeOut("slow");
        }, 2000);
      
    </script>
    <script>
        
    </script>

}


@{
    var idLoai = -1;
    if (string.Equals(ViewBag.Loai, "Động Vật", StringComparison.CurrentCultureIgnoreCase))
    {
        idLoai = 1;
    }
    if (string.Equals(ViewBag.Loai, "Thực Vật", StringComparison.CurrentCultureIgnoreCase))
    {
        idLoai = 0;
    }
}
<!-- Button trigger modal -->
<span data-bs-toggle="modal" data-bs-target="#EditModal@{
            @Model.Id
}">
    <i class="fa-regular fa-pen-to-square" style="color: #194de6;"></i>
</span>

<!-- Modal -->
<div class="modal fade modalEdit@{
                        @Model.Id
}" id="EditModal@{@Model.Id}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form asp-action="Edit" class="row" asp-route-loai="@idLoai" data-ajax-method="POST" data-ajax="true" data-ajax-update="UpdateBranchForm@{
                            @Model.Id
}" data-ajax-complete="OnComplete">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Sửa lớp</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex flex-wrap" id="UpdateBranchForm@{
                                        @Model.Id
}">
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group w-100">
                        <div class="control-label"> Ngành:</div>
                        <select name="IdDtvNganh" asp-for="IdDtvNganh" id="editSelect@{@Model.Id}" style="width:100%;" asp-items="@ViewBag.Categories" class="form-control select2PopupEdit">
                        </select>
                    </div>
                    <div class="form-group w-100">
                        <label asp-for="Name" class="control-label col-md-4">Tên tiếng Việt:</label>
                        <input asp-for="Name" class="form-control col-md-6" />
                        <span asp-validation-for="Name" class="text-danger col-md-12"></span>
                    </div>
                    <div class="form-group w-100">
                        <label asp-for="NameLatinh" class="control-label">Tên Latinh:</label>
                        <input asp-for="NameLatinh" class="form-control" />
                        <span asp-validation-for="NameLatinh" class="text-danger"></span>
                    </div>
                    <input type="hidden" asp-for="UpdatedBy" value="@User.FindFirst(ClaimTypes.NameIdentifier).Value" />
                    <div class="form-group w-100">
                        <label asp-for="Status" class="control-label">Trạng thái: </label>
                        <select asp-for="Status" class="form-control" id="dropdown" name="Status">
                            <option value="1">Bật</option>
                            <option value="0">Tắt</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                    <button type="submit" class="btn btn-primary">Sửa thông tin</button>
                </div>
            </div>
        </form>
    </div>
</div>
@* 
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script>
    $(document).ready(function () {
        $('.select2PopupEdit').select2({
            dropdownParent: $('#EditModal@{
        @Model.Id
    }'),
            language: {
                noResults: function () {
                    return "Không tìm thấy kết quả"; // Chuỗi tùy chỉnh khi không tìm thấy kết quả
                }
            },
        });
    })
</script> *@