@model DongThucVatQuangTri.Applications.NewsItem.Dtos.NewsDtos.NewsViewModels
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Thông tin tin tức";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}
<style>
    th:first-child {
        width: 30%;
    }
</style>
<div class="container-fluid px-4">
    <h4 class="mt-4">@ViewData["Title"]</h4>
    <ol class="breadcrumb mb-4 shadow">
        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Trang chủ</a></li>
        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="News">Quản lý tin tức</a></li>
        <li class="breadcrumb-item active">@ViewData["Title"]</li>
    </ol>
    <div class="card mb-4 shadow">
        <div class="card-body">
            <div class="row mb-3 d-flex justify-content-center">
                <div class="col-md-4">
                    <div>Hình ảnh:</div>
                    @if (!String.IsNullOrEmpty(Model.Image))
                    {
                        <img style="height: 250px;width:250px" src="/news/@Model.Image" alt="..." class="img-thumbnail">
                    }
                    else
                    {
                        <img style="height: 250px;width:250px" src="/admin/assets/img/no-image-available-icon-flat-vector-25898826.jpg" alt="..." class="img-thumbnail">
                    }
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <dl class="row">
                        <table class="table table-striped">
                            <tbody>
                                <tr>
                                    <th>Danh mục : </th>
                                    <td>@Html.DisplayFor(model => model.NewsCatName)</td>
                                </tr>
                                <tr>
                                    <th>Tiêu đề: </th>
                                    <td> @Html.DisplayFor(model => model.Name)</td>
                                </tr>
                                <tr>
                                    <th>Alias:</th>
                                    <td>@Html.DisplayFor(model => model.Alias)</td>
                                </tr>
                                <tr>
                                    <th>Giới thiệu:</th>
                                    <td>
                                        @Html.DisplayFor(model => model.ShortDescription)
                                    </td>
                                </tr>
                                <tr>
                                    <th>Tổng số View:</th>
                                    <td>@Html.DisplayFor(model => model.TotalView)</td>
                                </tr>
                                <tr>
                                    <th>Thứ tự sắp xếp:</th>
                                    <td>@Html.DisplayFor(model => model.SortOrder)</td>
                                </tr>
                                <tr>
                                    <th> Tin nổi bật:</th>

                                    <td>
                                        @{
                                            var isHot = Convert.ToInt32(Model.IsHot) == 1 ? "Bật" : "Tắt";
                                        }
                                        @isHot
                                    </td>
                                </tr>
                                <tr>
                                    <th> Trạng thái:</th>

                                    <td>
                                        @{
                                            var status = Convert.ToInt32(Model.Status) == 1 ? "Bật" : "Tắt";
                                        }
                                        @status
                                    </td>
                                </tr>
                                <tr>
                                    <th> Tiêu đề SEO:</th>
                                    <td>@Html.DisplayFor(model => model.TitleSeo)</td>
                                </tr>
                                <tr>
                                    <th> Nội dung SEO:</th>
                                    <td>@Html.DisplayFor(model => model.ContentSeo)</td>
                                </tr>
                                <tr>
                                    <th> Từ khóa SEO:</th>
                                    <td>@Html.DisplayFor(model => model.KeySeo)</td>
                                </tr>
                                <tr>
                                    <th> Tác giả:</th>
                                    <td>@Html.DisplayFor(model => model.Author)</td>
                                </tr>
                                <tr>
                                    <th> Ngày tạo:</th>
                                    <td>@Html.DisplayFor(model => model.CreatedAt)</td>
                                </tr>
                                <tr>
                                    <th> Ngày cập nhật:</th>
                                    <td>@Html.DisplayFor(model => model.UpdatedAt)</td>
                                </tr>
                                <tr>
                                    <th> Mô tả:</th>
                                    <td>@Html.Raw(Model.Description)</td>
                                </tr>
                            </tbody>
                        </table>
                    </dl>
                    <div>
                        <a class="btn btn-success" asp-action="Edit" asp-route-id="@Model.Id">
                            <i class="fa-solid fa-pen-to-square" style="color: #ffffff;"></i>
                            Chỉnh sửa
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

