@using System.Security.Claims;
@model DongThucVatQuangTri.Applications.AnimalsAndPlant.SetManage.Dtos.SetViewModels
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Thông tin bộ";
}
@{
    var idLoai = -1;
    if (string.Equals(ViewBag.Loai, "Động Vật", StringComparison.CurrentCultureIgnoreCase))
    {
        idLoai = 1;
    }
    if (string.Equals(ViewBag.Loai, "Thực Vật", StringComparison.CurrentCultureIgnoreCase))
    {
        idLoai = 0;
    }
}


<div class="modal fade" id="DetailModal@{
            @Model.Id
}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thông tin lơp</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <th>Ngành : </th>
                            <td>@Html.DisplayFor(model => model.NameLop)</td>
                        </tr>
                        <tr>
                            <th>Tên : </th>
                            <td>@Html.DisplayFor(model => model.Name)</td>
                        </tr>
                        <tr>
                            <th>Tên Latinh: </th>
                            <td> @Html.DisplayFor(model => model.NameLatinh)</td>
                        </tr>
                        <tr>
                            <th>Loại:</th>
                            <td>
                                @{
                                    var isType = Convert.ToInt32(Model.Loai) == 1 ? "Động vật" : "Thực vật";
                                }
                                @isType
                            </td>
                        </tr>
                        <tr>
                            <th> Trạng thái:</th>

                            <td>
                                @{
                                    var status = Convert.ToInt32(Model.Status) == 1 ? "Bật" : "Tắt";
                                }
                                @status
                            </td>
                        </tr>
                        <tr>
                            <th> Ngày tạo:</th>
                            <td>@Html.DisplayFor(model => model.CreatedAt)</td>
                        </tr>
                        <tr>
                            <th> Ngày cập nhật:</th>
                            <td>@Html.DisplayFor(model => model.UpdatedAt)</td>
                        </tr>
                        <tr>
                            <th> Người tạo:</th>
                            <td>@Html.DisplayFor(model => model.NameCreate)</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>

            </div>
        </div>
    </div>
</div>

